.json
[{"id":"84f932e3.2ddf3","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"8b5a6e5b.6b7c8","type":"inject","z":"84f932e3.2ddf3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":180,"wires":[["5b3be3e6.183f1c"]]},{"id":"5b3be3e6.183f1c","type":"cloudant in","z":"84f932e3.2ddf3","name":"","cloudant":"","database":"javeed16","service":"node-red-myvbb-2021--cloudant-1621136147758-50859","search":"_all_","design":"","index":"","x":260,"y":180,"wires":[["3a6af015.e25ae","4f8d2d38.1c2aa4","ba66fb66.7eb248"]]},{"id":"3a6af015.e25ae","type":"debug","z":"84f932e3.2ddf3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":80,"wires":[]},{"id":"1b73e732.6dc199","type":"ui_gauge","z":"84f932e3.2ddf3","name":"temperature","group":"d2ccad2e.5a42c","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"c","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":240,"wires":[]},{"id":"47c951b5.0d156","type":"ui_chart","z":"84f932e3.2ddf3","name":"pulserate","group":"d2ccad2e.5a42c","order":1,"width":0,"height":0,"label":"pulserate","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":560,"y":340,"wires":[[]]},{"id":"4f8d2d38.1c2aa4","type":"function","z":"84f932e3.2ddf3","name":"temperature","func":"msg.payload=msg.payload[0].temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":240,"wires":[["1b73e732.6dc199"]]},{"id":"ba66fb66.7eb248","type":"function","z":"84f932e3.2ddf3","name":"pulserate","func":"msg.payload=msg.payload[0].pulserate\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":300,"wires":[["47c951b5.0d156"]]},{"id":"3f36627c.0e5a9e","type":"ui_worldmap","z":"84f932e3.2ddf3","group":"d2ccad2e.5a42c","order":9,"width":0,"height":0,"name":"","lat":"17.3850","lon":"78.4867","zoom":"","layer":"Esri","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":380,"y":60,"wires":[]},{"id":"33223912.ab15c6","type":"function","z":"84f932e3.2ddf3","name":"","func":"msg.payload={\"name\":\"Javeed16\", \"lat\":17.3850, \"lon\":-78.4867}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":100,"wires":[["3f36627c.0e5a9e"]]},{"id":"d2ccad2e.5a42c","type":"ui_group","name":"Default","tab":"de7a99c4.cd5408","order":1,"disp":true,"width":"6","collapse":false},{"id":"de7a99c4.cd5408","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]